USE [master]
GO
/****** Object:  Database [Guardian]    Script Date: 12.03.2023 17:24:17 ******/
CREATE DATABASE [Guardian]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Guardian', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\Guardian.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Guardian_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\Guardian_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Guardian].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Guardian]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 12.03.2023 17:24:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Unit] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 12.03.2023 17:24:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[DepertmentId] [int] NOT NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pass]    Script Date: 12.03.2023 17:24:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pass](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DateStart] [date] NOT NULL,
	[DateEnd] [date] NOT NULL,
	[VisitPurpose] [nvarchar](100) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[UserId] [int] NULL,
	[PassStatusId] [int] NOT NULL,
 CONSTRAINT [PK_Pass] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PassDocument]    Script Date: 12.03.2023 17:24:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PassDocument](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DocumentFile] [nchar](10) NOT NULL,
	[PassId] [int] NOT NULL,
 CONSTRAINT [PK_PassDocument] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PassGuest]    Script Date: 12.03.2023 17:24:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PassGuest](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Surname] [nvarchar](50) NULL,
	[Patromic] [nvarchar](50) NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](150) NULL,
	[Organization] [nvarchar](50) NULL,
	[Description] [nvarchar](200) NULL,
	[BirthDate] [date] NULL,
	[PassportSeria] [nvarchar](4) NULL,
	[PassportNumber] [nvarchar](6) NULL,
	[Photo] [image] NULL,
	[PassId] [int] NOT NULL,
 CONSTRAINT [PK_PassGuest] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PassStatus]    Script Date: 12.03.2023 17:24:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PassStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PassStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 12.03.2023 17:24:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[Number] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](25) NOT NULL,
	[Birthday] [date] NOT NULL,
	[PassportSeria] [nvarchar](4) NOT NULL,
	[PassportNumber] [nvarchar](6) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Appointment] [date] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Department] ON 

INSERT [dbo].[Department] ([Id], [Name]) VALUES (1, N'Производство')
INSERT [dbo].[Department] ([Id], [Name]) VALUES (2, N'Сбыт')
INSERT [dbo].[Department] ([Id], [Name]) VALUES (3, N'Администрация')
SET IDENTITY_INSERT [dbo].[Department] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([Id], [FullName], [DepertmentId]) VALUES (15, N'Фомичева Авдотья Трофимовна', 1)
INSERT [dbo].[Employee] ([Id], [FullName], [DepertmentId]) VALUES (16, N'Гаврилова Римма Ефимовна', 2)
INSERT [dbo].[Employee] ([Id], [FullName], [DepertmentId]) VALUES (17, N'Носкова Наталия Прохоровна', 3)
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[PassStatus] ON 

INSERT [dbo].[PassStatus] ([Id], [Name]) VALUES (1, N'На рассмотрении')
INSERT [dbo].[PassStatus] ([Id], [Name]) VALUES (2, N'Одобрено')
INSERT [dbo].[PassStatus] ([Id], [Name]) VALUES (3, N'Отклонено')
SET IDENTITY_INSERT [dbo].[PassStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [FullName], [Number], [Email], [Birthday], [PassportSeria], [PassportNumber], [Login], [Password], [Appointment]) VALUES (1, N'Степанова Радинка Власовна', N'+7 (613) 272-60-62', N'Radinka100@yandex.ru', CAST(N'1986-10-18' AS Date), N'0208', N'530509', N'Vlas86', N'b3uWS6#Thuvq', CAST(N'2023-04-24' AS Date))
INSERT [dbo].[User] ([Id], [FullName], [Number], [Email], [Birthday], [PassportSeria], [PassportNumber], [Login], [Password], [Appointment]) VALUES (2, N'Шилов Прохор Герасимович', N'+7 (615) 594-77-66', N'Prohor156@list.ru', CAST(N'1977-10-09' AS Date), N'3036', N'796488', N'Prohor156', N'zDdom}SIhWs?', CAST(N'2023-04-24' AS Date))
INSERT [dbo].[User] ([Id], [FullName], [Number], [Email], [Birthday], [PassportSeria], [PassportNumber], [Login], [Password], [Appointment]) VALUES (3, N'Кононов Юрин Романович', N'+7 (784) 673-51-91', N'YUrin155@gmail.com', CAST(N'1971-10-08' AS Date), N'2747', N'790512', N'YUrin155', N'u@m*~ACBCqNQ', CAST(N'2023-04-24' AS Date))
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Department] FOREIGN KEY([DepertmentId])
REFERENCES [dbo].[Department] ([Id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Department]
GO
ALTER TABLE [dbo].[Pass]  WITH CHECK ADD  CONSTRAINT [FK_Pass_Employee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[Pass] CHECK CONSTRAINT [FK_Pass_Employee]
GO
ALTER TABLE [dbo].[Pass]  WITH CHECK ADD  CONSTRAINT [FK_Pass_PassStatus] FOREIGN KEY([PassStatusId])
REFERENCES [dbo].[PassStatus] ([Id])
GO
ALTER TABLE [dbo].[Pass] CHECK CONSTRAINT [FK_Pass_PassStatus]
GO
ALTER TABLE [dbo].[Pass]  WITH CHECK ADD  CONSTRAINT [FK_Pass_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Pass] CHECK CONSTRAINT [FK_Pass_User]
GO
ALTER TABLE [dbo].[PassDocument]  WITH CHECK ADD  CONSTRAINT [FK_PassDocument_Pass] FOREIGN KEY([PassId])
REFERENCES [dbo].[Pass] ([Id])
GO
ALTER TABLE [dbo].[PassDocument] CHECK CONSTRAINT [FK_PassDocument_Pass]
GO
ALTER TABLE [dbo].[PassGuest]  WITH CHECK ADD  CONSTRAINT [FK_PassGuest_Pass] FOREIGN KEY([PassId])
REFERENCES [dbo].[Pass] ([Id])
GO
ALTER TABLE [dbo].[PassGuest] CHECK CONSTRAINT [FK_PassGuest_Pass]
GO
USE [master]
GO
